:root {
  --eggblue: #88c0e5;
  --blue: #0064c8;
  --blue2: #0050a0;
  // --darkblue: #0f1838;
  --darkblue: #11172e;
  --border: 1px solid #1c264a;
  // --border: 1px solid #1d294a;
  --corner: 0.5rem;
  --softgray: #68749c;
}
html {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #204483 #090e20;
}
// body.ReactModal__Body--open {
//   overflow: hidden;
// }
body {
  color: #fff;
  background: #090e20;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  font:
    300 14px/1.4 "gotham_book",
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  &.hideOverflow {
    overflow: hidden;
  }
}

*,
*,
*:after {
  box-sizing: inherit;
}
figure {
  margin: 0;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0 0 0.8rem 0;
  padding: 0;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  font-size: 2rem;
}
ul {
  padding-left: 1.2rem;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: var(--blue);
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
.btn,
button {
  background: #142050;
  border: 1px solid #2b549d;
  color: #fff;
  padding: 0.6rem 1.6rem;
  display: inline-block;
  font-family: inherit;
  text-decoration: none;
  font-size: 0.8rem;
  outline: 0;
  cursor: pointer;
  border-radius: 2rem;
  transition: all 0.3s ease;

  &.active,
  &:hover {
    background: #3366be;
    border-color: #6f96db;
  }
}

/* 16:9 iframe */
iframe {
  max-width: 100%;
}
.iframe-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  border: var(--border);
  background: var(--darkblue);
  margin-bottom: 0.4rem;

  /* Then style the iframe to fit in the container div with full height and width */
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

header {
  position: relative;

  display: flex;
  padding: 0 0.5rem;
  height: 60px;
  justify-content: space-between;
  background: var(--darkblue);
  border-bottom: var(--border);

  &.fixed {
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;

    a {
      display: none;
    }
  }

  .menu-logo {
    display: flex;
    align-items: center;
    gap: 1rem;

    .menu {
      display: flex;
      justify-content: center;
      cursor: pointer;
      user-select: none;
    }
  }

  > a {
    display: flex;
    align-items: center;

    &:hover {
      text-decoration: none;
    }
  }

  .logo {
    // display: none;
    // max-width: 40px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 0 0 0.5rem;
    // margin: 0 auto;
  }

  nav.main {
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.1rem;
    }
  }
}

aside.sidebar {
  position: fixed;
  top: 60px;
  bottom: 0;
  width: 250px;
  left: -100%;
  z-index: 2;
  border-right: 1px solid #13213a;
  background: #0e142c;
  transition: all 0.5s ease;

  &.active {
    left: 0;
  }

  .project-sort {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 0.8rem;

    .menu {
      color: #bbd5ef;
      padding: 0.5rem 1.2rem;
      background: #111a3700;
      border-radius: 3rem;
      border: 1px solid #1f355b00;
      border-left: 0;
      transition: all 0.3s ease;
      font-size: 0.9rem;
      display: flex;
      gap: 0.5rem;
      display: flex;
      align-items: center;

      &:hover,
      &.active {
        color: #fbfbfb;
        background: #1b274c;
        border-color: #32486f;
      }
    }
  }
}

section.container {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-top: 70px;
  padding-bottom: 100px;
}

.footer {
  padding: 10rem 1rem 5rem;
  display: flex;
  align-items: center;
  text-align: center;
  flex-flow: column;
  background: #07102c;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10rem;
    background: linear-gradient(180deg, #090e20, transparent);
  }

  p {
    max-width: 470px;
    width: 100%;
    color: var(--softgray);
    font-size: 0.9rem;
  }

  a {
    color: #ccc;
  }
}

@media (min-width: 620px) {
  .project-sort {
    text-align: left;
  }
}

/* main navigation */
nav.main {
  // position: relative;
  // align-items: center;
  // display: grid;
  // grid-template-columns: repeat(4, 1fr);
  // text-align: center;
  // padding: 0.5rem 0;

  position: relative;
  align-items: center;
  display: flex;

  a {
    color: var(--eggblue);
    padding: 0.6rem;
    text-decoration: none;

    &.active,
    &:hover {
      background: var(--darkblue);
      color: #ffffff;
    }

    span {
      font-size: 0.8rem;
      display: block;

      &.icon {
        font-size: 1.3rem;
      }
    }
  }
}

/* project nav/ */
nav.project-cat {
  position: fixed;
  border-right: var(--border);
  background: var(--darkblue);
  top: 60px;
  left: 0;
  height: 100vh;
  width: 46px;
  overflow: hidden;

  a {
    color: #3366be;
    padding: 1rem 0.8rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
    border: 0;
    outline: 0;
    font-family: inherit;
    cursor: pointer;
    display: block;
    text-align: center;
    width: 100%;

    &.active {
      color: #fff;
    }
  }

  i {
    font-size: 1.2rem;
  }

  span {
    display: none;
  }
}

// Home Page
section.home {
  section {
    article {
      max-width: 450px;
      text-align: center;
      padding: 1.3rem;
      margin: 0 auto;

      p {
        color: var(--softgray);
        font-size: 0.9rem;
      }
    }
  }
}
@media (min-width: 768px) {
  section.home {
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    max-width: 1600px;
    margin: 0 auto;

    section {
      display: flex;
      align-items: center;
      article {
        text-align: left;
        margin: 0;
      }
    }
  }
}

// Home Page - Experience
section.experience {
  padding: 8rem 1rem;
  background: #07102c;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10rem;
    background: linear-gradient(180deg, #090e20, transparent);
  }

  &::after {
    background: linear-gradient(0deg, #090e20, transparent);
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 8rem;
  }

  > figure {
    max-width: 700px;
    width: 100%;
  }

  > section {
    margin-bottom: 3rem;
    position: relative;

    > section {
      max-width: 700px;
      max-height: 450px;
      overflow: hidden;
      overflow-y: auto;
      padding: 1rem;
      padding-bottom: 4rem;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 10rem;
      background: linear-gradient(0deg, #07102c, transparent);
    }
  }

  article.experience-card {
    display: flex;
    padding: 1.6rem 1rem;
    background: #0f1838;
    margin-bottom: 1rem;
    border: 1px solid #1c264a;
    border-radius: 0.9rem;
    gap: 1.2rem;
    flex-direction: column;
    transition: all 0.4s ease;

    &:hover {
      background: #152047;
      border: 1px solid #2a3661;
    }

    .xThumb {
      display: flex;
      justify-content: center;
      flex-direction: column;
      min-width: 130px;
      gap: 0.4rem;

      figure {
        width: 74px;
        height: 70px;
        background: #142050;
        border-radius: 0.5rem;
        padding: 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      p {
        font-size: 0.7rem;
        color: var(--softgray);
      }
    }

    .xDetails {
      h2 {
        font-size: 1.2rem;
        margin: 0 0 0.3rem 0;
      }
      .comp {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        margin-bottom: 0.2rem;
        h3 {
          font-size: 0.9rem;
          color: #88c0e5;
          margin: 0;
        }
        span {
          font-size: 0.7rem;
          color: var(--blue);
        }
      }

      p {
        font-size: 0.8rem;
        color: var(--softgray);
      }
    }

    .tags {
      span {
        display: inline-block;
        margin: 0 0.3rem 0.3rem 0;
        background: #142050;
        border-radius: 1rem;
        padding: 0.3rem 1rem;
        font-size: 0.7rem;
        color: var(--softgray);
      }
    }
  }
}

@media (min-width: 768px) {
  section.experience {
    article.experience-card {
      flex-direction: row;
    }
    .xThumb {
      align-items: center;
    }
  }
}

// Home Page - Projects
section.featured_projects {
  padding: 6rem 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  > figure {
    max-width: 700px;
    width: 100%;
  }
  > section {
    max-width: 1280px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-bottom: 3rem;
  }

  article.featured-card {
    background: var(--darkblue);
    border: var(--border);
    border-radius: 0.9rem;
    transition: all 0.4s ease;
    overflow: hidden;

    &:hover {
      background: #152047c0;
      border: 1px solid #2a3661;
    }

    .xDetails {
      padding: 1rem;
      h2 {
        font-size: 1.2rem;
        margin: 0 0 0.3rem 0;
        color: white;
      }

      p {
        font-size: 0.8rem;
        color: var(--softgray);
      }
    }

    .tags {
      span {
        display: inline-block;
        margin: 0 0.3rem 0.3rem 0;
        background: #142050;
        border-radius: 1rem;
        padding: 0.3rem 1rem;
        font-size: 0.7rem;
        color: var(--softgray);
      }
    }
  }
}

// Service & About
section.head {
  max-width: 1066px;
  margin: 0 auto;
}

// Sevices Page
section.service {
  padding: 0;
  padding: 1rem;
  margin: 0 auto 3rem;
  max-width: 700px;

  article {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 1rem;
    margin-bottom: 2rem;

    &:nth-child(even) {
      grid-template-columns: 1.5fr 1fr;
      text-align: right;
    }
    .flex {
      display: flex;
      align-items: center;
    }
    .serviceImg {
      max-width: 323px;
    }
    h3 {
      color: var(--eggblue);
    }
    p {
      color: var(--softgray);
      font-size: 0.7rem;
    }
  }
}

// About Page
section.about {
  max-width: 600px;
  margin: 0 auto;
  margin: 0 auto 10rem;

  article {
    padding: 1rem;
    color: var(--softgray);
    h2 {
      margin-bottom: 1.5rem;
      color: var(--eggblue);
    }
    h3 {
      color: #fff;
    }
    ul {
      padding-left: 2.2rem;
      margin-bottom: 1.2rem;
    }
    span {
      color: var(--eggblue);
    }
  }
}

.social-icons {
  margin: 2rem 0;

  a {
    font-size: 1.4rem;
    margin-right: 0.8rem;
    text-decoration: none;
    color: var(--eggblue);
  }
}

/* project list */
.projects-list {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

  article {
    flex: 0 0 auto;
    width: 50%;
    position: relative;
    background-size: cover;

    &:before {
      content: "";
      display: block;
      margin-top: 100%;
    }

    a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      padding: 0.4rem;

      figure {
        border-radius: var(--corner);
        overflow: hidden;
        position: relative;
        background: #11172e;
        border: var(--border);
        height: 100%;

        img {
          width: 100%;
          height: auto;
          display: block;
          position: relative;
          z-index: 1;
        }

        .details {
          position: absolute;
          bottom: 0;
          width: 100%;
          padding: 2rem 1rem 0;
          background: linear-gradient(0deg, #090e20, transparent);
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: space-between;
          z-index: 1;

          p {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

/* modal contents */
.modal img {
  border: var(--border);
  background: var(--darkblue);
  // max-height: 80vh;
  width: auto;
  margin: 0 auto 1rem;
  display: block;

  &.full-height {
    max-height: 100%;
  }
}

/*------------------------------------*\
	MEDIA QUERIES
\*------------------------------------*/

@media (min-width: 450px) {
  header {
    .menu-logo {
      a {
        display: block;
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    justify-content: space-between;

    a {
      border: 0;
    }

    /* nav */
    nav.main {
      background: none;
      border: 0;
      padding: 0;
      a {
        flex-direction: row;
        padding: 0.6rem 1.6rem;
        gap: 0.4rem;

        &.active,
        &:hover {
          background: none;
        }
        i {
          margin-right: 0.6rem;
        }
        span {
          font-size: 1rem;
        }
      }
    }
  }

  section.featured_projects {
    > section {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  section.service {
    article {
      margin: 0;

      p {
        font-size: 0.9rem;
      }
    }
  }

  .projects-list {
    article {
      width: 25%;
    }
  }
}

@media (min-width: 992px) {
  header {
    .logo {
      display: inline-block;
      padding-left: 1.2rem;
    }
  }

  nav.project-cat {
    width: 180px;

    i {
      margin-right: 0.6rem;
    }

    a {
      text-align: left;
      display: flex;
      align-items: center;
    }

    span {
      display: inline-block;
      font-size: 0.8rem;
    }
  }
}

@media (min-width: 1200px) {
  .projects-list {
    article {
      width: 20%;
    }
  }
}

@media (min-width: 1680px) {
  .projects-list {
    article {
      width: 16.666667%;
    }
  }
}

@media (min-width: 1920px) {
  .projects-list {
    article {
      width: 14.285714286%;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background: #090e20;
  z-index: 3;
  cursor: context-menu;
}
.modalnav {
  position: fixed;
  top: 46vh;
  width: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  z-index: 1;
  background: #1d294a96;
  color: #ffffff;
  height: 47px;
  border-radius: var(--corner);
}
.modalnav span {
  padding-bottom: 3px;
}
.modalnav:hover span {
  color: #3366be;
}
.showPrev {
  left: 0;
}
.showNext {
  right: 0;
}
.modal-container {
  background: #090e20;
  min-height: 90vh;
  outline: none;
}
a.close-modal {
  position: absolute;
  cursor: pointer;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: #1d294a;
  color: #fff;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  border-radius: var(--corner);
  justify-content: center;
}
a.close-modal:hover {
  color: #4072cc;
  text-decoration: none;
}
.modal-content {
  padding: 1rem;

  .content {
    color: var(--softgray);
  }
}
h3.title {
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
}
p.date {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  header {
    .menu-logo {
      .menu {
        display: none;
      }
    }
  }

  aside.sidebar {
    left: 0;
    width: 250px;
  }

  section.container {
    padding-left: 260px;
    padding-top: 70px;
    padding-bottom: 100px;
  }
  .modal {
    background: #080e24d6;
  }
  .modal-container {
    position: relative;
    max-width: 720px;
    background: #090e20;
    border: var(--border);
    border-radius: var(--corner);
    margin: 3rem auto;
  }
  .modalnav {
    background: #1d294a;
    width: 3.2rem;
    height: 3.2rem;
  }
  .showNext {
    right: 1rem;
  }
  .showPrev {
    left: 1rem;
  }
}
@media (min-width: 992px) {
  .modal-container {
    max-width: 900px;
  }
}
@media (min-width: 1200px) {
  .modal-container {
    max-width: 1000px;
  }
  .modalnav {
    font-size: 3.5rem;
    width: 3.8rem;
    height: 3.8rem;
  }
  .showNext {
    right: 2rem;
  }
  .showPrev {
    left: 2rem;
  }
}

/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

@font-face {
  font-family: "gotham_book";
  src: url("../public/fonts/gotham/gotham_book.eot");
  src:
    local("☺"),
    url("../public/fonts/gotham/gotham_book.woff") format("woff"),
    url("../public/fonts/gotham/gotham_book.ttf") format("truetype"),
    url("../public/fonts/gotham/gotham_book.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*------------------------------------*\
	MISC
\*------------------------------------*/

/* Loading Spinner */
.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader::after {
  content: "";
  border: 0.5rem solid #263253;
  border-top: 0.5rem solid #4e5e88;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #090e20;
  padding: 6px;
}
::-webkit-scrollbar-thumb {
  background: #204483;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #16305e;
  border-radius: 6px;
}
